<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.message">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity"></activity>
        <activity android:name=".New_User"></activity>
        <activity android:name=".message.Message_Box"></activity>
        <activity android:name=".message.Message_Sended"></activity>
        <activity android:name=".message.Message_Send"></activity>
        <activity android:name=".message.Sended_Detail"></activity>
        <activity android:name=".message.Box_Detail"></activity>
        <activity android:name=".message.Box_Detail2"></activity>
        <activity android:name=".message.Box_Detail5"></activity>
        <activity android:name=".message.Received_Detail"></activity>
        <activity android:name=".message.Sended_Delete"></activity>
        <activity android:name=".message.Received_Detail2"></activity>
        <activity android:name=".message.Received_Detail9"></activity>
        <activity android:name=".message.Received_Answer"></activity>
        <activity android:name=".message.Received_Answer2"></activity>
        <activity android:name=".message.Received_Answer9"></activity>
        <activity android:name=".work.Notice1"></activity>
        <activity android:name=".work.Notice2"></activity>
        <activity android:name=".work.Notice3"></activity>
        <activity android:name=".work.Notice4"></activity>
        <activity android:name=".work.Notice5"></activity>
        <activity android:name=".my.My_Document"></activity>
        <activity android:name=".my.Setting"></activity>
        <activity android:name=".address.ABAdd"></activity>
        <activity android:name=".address.ABView"></activity>
        <provider
            android:name=".address.ABMyProvider"
            android:authorities="com.example.ab.ABMyProvider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="android:permission.permRead"
            android:writePermission="android:permission.permWrite"/>
        <activity android:name=".calendar.CalendarScheduleActivity"></activity>
    </application>

</manifest>